# Ignore Python virtual environments
venv/
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore IDE settings
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
*.tmp
