fastapi~=0.115.1
uvicorn~=0.23.2

# ORM and Database
SQLAlchemy~=2.0.23
psycopg2~=2.9.9
alembic~=1.12.1

# Pydantic (v2)
pydantic~=2.5.3
pydantic_core~=2.14.6
typing_extensions~=4.8.0

# Authentication
passlib[bcrypt]~=1.7.4
PyJWT~=2.8.0
python-multipart~=0.0.6

# ASGI & Networking
starlette~=0.32.0.post1
anyio~=3.7.1
httpx~=0.26.0
h11~=0.14.0
sniffio~=1.3.0
click~=8.1.7

# Rendering templates (Alembic)
Mako~=1.3.0
MarkupSafe~=2.1.3

# Visualization
matplotlib~=3.8.2
